[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/YoungJin Lee (togomi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/YoungJin Lee (togomi)
	label-Verified = -1..+1 group user/YoungJin Lee (togomi)
	push = group user/YoungJin Lee (togomi)
	read = group user/YoungJin Lee (togomi)
	rebase = group user/YoungJin Lee (togomi)
	removeReviewer = group user/YoungJin Lee (togomi)
	submit = group user/YoungJin Lee (togomi)
[access "refs/heads/*"]
	create = group user/YoungJin Lee (togomi)
	push = +force group user/YoungJin Lee (togomi)
	pushMerge = group user/YoungJin Lee (togomi)
	read = group user/YoungJin Lee (togomi)
[access "refs/tags/*"]
	push = group user/YoungJin Lee (togomi)
	push = +force group user/YoungJin Lee (togomi)
[project]
	state = hidden
